version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    commit-message:
      prefix: "ci(actions):"
  # Maintain dependencies for PHP packages
  - package-ecosystem: composer
    directory: /
    schedule:
      interval: weekly
    commit-message:
      prefix: "ci(php):"
      prefix-development: "ci(php-dev):"
    ignore:
      - dependency-name: "*"
        update-types:
          - version-update:semver-major
    groups:
      production-dependencies:
        dependency-type: "production"
        update-types:
          - minor
          - patch
      development-dependencies:
        dependency-type: "development"
        update-types:
          - minor
          - patch
  # Maintain dependencies for JS packages
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
    commit-message:
      prefix: "ci(js):"
      prefix-development: "ci(js-dev):"
    ignore:
      - dependency-name: "*"
        update-types:
          - version-update:semver-major
    groups:
      production-dependencies:
        dependency-type: "production"
        update-types:
          - minor
          - patch
      development-dependencies:
        dependency-type: "development"
        update-types:
          - minor
          - patch
